/*NAVBAR*/

.searchbar{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}

.navsign{
	color: white;
	padding-right: 1em;
}

/*FOOTER*/
.footer{
	background-color: lightgrey;
	bottom: 0;
	left: 0;
	width: 100%
}

/*HOME*/

.image{
	width: 100%;
}

.movies-slider{
	color: white;
}

.film-slider{
	background: lightgrey;
	padding-top: 1em;
	padding-bottom: 1em;
}

.blue{
	height: 25em;
	background: #095A71;
}

.headerarticle{
	text-align: center;
	margin-top: 1em;
	font-weight: bold;
	color: white;
}

.imgcoen{
	background: lightgrey;
}

.presentation-circle{
	border-radius: 50%;
}

.text{
	color: black;
}

/*Movies list*/
.hori-cards{
	width: 100%;

}

/*SIGN UP*/

.formsignup{
	margin: auto;
	background-color: lightgrey;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/*MOVIES*/

.headmovie{
	width: 100%;
	max-height: 50em;
}

.rowbg{
	background-color: lightgrey;
}


/*COEN BRO*/

.imgbro{
	width: 100%;
}