/*NAVBAR*/

.searchbar{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
}


/*HOME*/
.image{
	width: 100%;
}

.movies-slider{
	color: white;
}

.film-slider{
	background: lightgrey;
	padding-top: 1em;
	padding-bottom: 1em;
}

.blue{
	height: 25em;
	background: #095A71;
}

.imgcoen{
	background: lightgrey;
}

.presentation-circle{
	border-radius: 50%;
}

.text{
	color: black;
}

/*Movies list*/
.hori-cards{
	width: 100%;

}

